<footer class="footer u-small">
    {{#if @config.custom.copyrightText}}
        <div class="footer__copyright">
            {{{@config.custom.copyrightText}}}
        </div>
    {{/if}}
</footer>
</div>{{!-- .container --}}
{{!-- Insert some custom code by Custom HTML tool --}}
{{{@footerCustomCode}}}
{{!-- GDPR Cookie popup generated natively by Publii app --}}
{{{ publiiFooter }}}
</body>

</html>
